
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="row">
    @Html.Partial("PartialLeftMenu")
    <div class="col l9 s12">
        <div class="card-panel teal lighten-5">
            <h5 class="card-header purple-text">Favorilerim</h5>
        </div>
    </div>
</div>