@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@*@model List<MaterialTemplate.Models.Message>*@

<div class="row">
    @Html.Partial("PartialLeftMenu")
    <div class="col l9 s12">
        <div class="card-panel teal lighten-5">
            <h5 class="card-header purple-text">Mesajlarım</h5>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <a href="#messageModal" class="modal-trigger btn waves-effect waves-light right">Yeni Mesaj</a>
                </div>
            </div>
            @*<div class="row">
                @if (Model.Count == 0)
                {
                <center>
                <span class="text-fix">Hiç mesajınız bulunmamaktadır.</span>
                </center>
                }
                else
                {
                <table>
                <thead>
                <tr>
                <td>
                Gönderen
                </td>
                <td>
                Alıcı
                </td>
                <td>
                Konu
                </td>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <td>
                <span class="text-fix">@item.UserSender.User_Username</span>
                </td>
                <td>
                <span class="text-fix">@item.UserReceiver.User_Username</span>
                </td>
                <td>
                <span class="text-fix">@item.MessageSubject</span>
                </td>
                </tr>
                }
                </tbody>
                </table>
                }
                </div>*@
        </div>
    </div>
</div>

<div id="messageModal" class="modal teal lighten-5 col l5 offset-l2">
    @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="input-field col l6 offset-l3 m6 offset-m3 s12">
                <input type="text" name="RcvUsername" id="RcvUsername" />
                <label for="RcvUsername">Alıcı Adı</label>
            </div>
            <div class="input-field col l6 offset-l3 m6 offset-m3 s12">
                <input type="text" name="MessageSubject" id="MessageSubject" />
                <label for="MessageSubject">Konu</label>
            </div>
            <div class="input-field col l6 offset-l3 m6 offset-m3 s12">
                <input type="text" name="MessageContent" id="MessageContent" />
                <label for="MessageContent">Mesaj</label>
            </div>
            <div class="input-field col l6 offset-l3 m6 offset-m3 s12">
                <button type="submit" class="btn waves-effect waves-light right">Gönder</button>
            </div>
        </div>
    }
</div>



<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>